DATABASE_URL=postgresql://postgres:123456@localhost:5432/openby?schema=public
POSTGRES_USER=postgres
POSTGRES_DB=openby
POSTGRES_PASSWORD=123456
NODE_ENV=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app